### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
pymoli_file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
pymoli_data = pd.read_csv(pymoli_file)

pymoli_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# Display the total number of players
player_count = len(pymoli_data["SN"].unique())

print("Total Players: ", player_count)

Total Players:  576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# number of items
# calculate avg price 
# calculate total revenue

item_count = len(pymoli_data["Item ID"].unique())
avg_price = pymoli_data["Price"].mean()
tot_purchase = len(pymoli_data["Item Name"])
tot_revenue = pymoli_data["Price"].sum()

# print(item_count)
# print(avg_price)
# print(tot_purchase)
# print(tot_revenue)

purchase_summary = pd.DataFrame({"Total of Unique Items": item_count,
                                "Average Price": [avg_price],                     
                                "Number of Purchases ": [tot_purchase],
                                "Total Revenue": [tot_revenue]}) 
purchase_summary

   Total of Unique Items  Average Price  Number of Purchases   Total Revenue
0                    183       3.050987                   780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#This one is not grouped and yields total Genders but includes duplicate names
#print(pymoli_data["Gender"].value_counts())

pymoli_gender = pd.DataFrame(pymoli_data, columns = ["SN", "Gender"])
# print(pymoli_gender)
removedups=pymoli_gender.drop_duplicates()
#print(removedups)

gender_group = removedups.groupby('Gender')

#Group by gender with no dupes
gender_demo = gender_group.count()
print(gender_demo)

#Calculate % of gender
gender_pct = gender_demo.apply(lambda x: 100 * x / float(x.sum()))
print(gender_pct)

gendemo_sum = pd.DataFrame({"Total Count": [gender_demo], "Percentage of Players": [gender_pct]})
gendemo_sum

                        SN
Gender
Female                  81
Male                   484
Other / Non-Disclosed   11
                              SN
Gender
Female                 14.062500
Male                   84.027778
Other / Non-Disclosed   1.909722

,Total Count,Percentage of Players
0,SN Gender ...,SN Gender ...


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
pymoli_group = pymoli_data.groupby(["Gender"])


#Avg purchase price
price_avg = pymoli_group["Price"].mean()
print(price_avg)

#Purchase count
all_purch = pymoli_group["Item Name"].count()
print(all_purch)

#Total Purch Value
total_value = price_avg * all_purch
print(total_value)

Gender_summary = pd.DataFrame({"Purchase Count": [all_purch],
                               "Average Purchase Price": [price_avg],
                               "Total Purchase Value": [total_value]})
Gender_summary

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64
Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Item Name, dtype: int64
Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
dtype: float64

,Purchase Count,Average Purchase Price,Total Purchase Value
0,Gender Female 113 Male ...,Gender Female 3.203009 Male ...,Gender Female 361.94 Male ...

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
pymoli_age = pd.DataFrame(pymoli_data, columns = ["SN", "Age"])
#print(pymoli_age)
remove_agedups=pymoli_age.drop_duplicates()
#print(remove_agedups)

#Create age bins
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

#Create group labels for the bins
agegrp = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Bin the Age
pd.cut(remove_agedups["Age"], age_bins, labels = agegrp)


remove_agedups["Age Summary"] = pd.cut(remove_agedups["Age"], age_bins, labels = agegrp)
remove_agedups

#Group by Age Summary
age_sum = remove_agedups.groupby("Age Summary")
age_sum_grp = age_sum.count()
print(age_sum_grp)

#Calculate % of gender
age_pct = age_sum_grp.apply(lambda x: 100 * x / float(x.sum()))
print(age_pct)

              SN  Age
Age Summary
<10           17   17
10-14         22   22
15-19        107  107
20-24        258  258
25-29         77   77
30-34         52   52
35-39         31   31
40+           12   12
                    SN        Age
Age Summary
<10           2.951389   2.951389
10-14         3.819444   3.819444
15-19        18.576389  18.576389
20-24        44.791667  44.791667
25-29        13.368056  13.368056
30-34         9.027778   9.027778
35-39         5.381944   5.381944
40+           2.083333   2.083333

C:\Users\clari\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [32]:
#print(pymoli_data)
#Bin the Age
pd.cut(pymoli_data["Age"], age_bins, labels = agegrp)
pymoli_data["Age Range"] = pd.cut(pymoli_data["Age"], age_bins, labels = agegrp)
#pymoli_data

#Group by bins
#Grp_buys = pymoli_data.groupby("Age Range")
#Grp_buy_sum = Grp_buys.count()
#print(Grp_buy_sum)


p_count = pymoli_data.groupby("Age Range").SN.count()
a_price = pymoli_data.groupby("Age Range").Price.mean()
total_p = p_count * a_price

print(p_count)
print(a_price)
print(total_p)

#pymoli_data.groupby("Age Range").['Item ID'].count()

#Grp_buys[["Item ID", "Price", ]]

Age Range
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: SN, dtype: int64
Age Range
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64
Age Range
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
dtype: float64

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame